# Java / Maven
target/
*.jar
*.class
*.lst

# CSV
*.csv
!experiments/results/dijkstra_results.csv

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual
venv/
.env/

# VSCode
.vscode/
